name: Publish to Docker Hub
on: ['push']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Push
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: blakelead/nsinjector-controller
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true